/* @import url('../node_modules/@cpm/package-manager/library/index.css'); */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body, html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
} */
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100vh; /* Ensure body takes full viewport height */
  overflow: hidden; /* Prevent full-page scrolling */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  @apply scroll-smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* font-family: "Inter", sans-serif; */
  @apply font-lato text-sm font-normal;
}
/* 
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("../public/CalendarSVG.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: url("../public/Clock.svg") no-repeat center;
} */

input[type="date"] {
  text-transform: uppercase;
  display: block;
}
.menuwrap {
  position: relative;
  max-height: calc(100vh - 110px);
  padding-bottom: 20px;
  overflow-y: auto;
}
.videoBg:before {
  content: "";
  background: linear-gradient(
    360deg,
    rgba(49, 39, 18, 0.7) 2.47%,
    rgba(49, 39, 18, 0.3) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
}
.textShadow-default {
  text-shadow: 1px -1px #d5b56f;
}
hr {
  border: 0;
}
@layer components {
  .pagination-bar {
    @apply w-full flex justify-center;
  }
  .pagination-container {
    @apply flex list-none;
  }
  .pagination-item {
    @apply hover:bg-gray-100  hover:text-gray-700 justify-center cursor-pointer py-2 h-8 text-center my-1 text-gray-500 text-opacity-90 flex border border-gray-300 bg-white  items-center tracking-tighter leading-6 text-sm min-w-[32px];
  }
  .pagination-item-dots {
    @apply hover:bg-transparent hover:cursor-default;
  }

  .pagination-item-selected {
    @apply bg-gray-500 text-white pointer-events-none;
  }
  .pagination-item-arrow {
    @apply before:relative before:content-[""] before:inline-block before:w-1 before:h-1 before:border-0 before:border-r before:border-solid before:border-black before:border-t;
  }
  .pagination-item-arrow-left {
    @apply rotate-[-135deg] -translate-x-1/2;
  }
  .pagination-item-arrow-right {
    @apply rotate-45;
  }
  .pagination-item-disabled {
    @apply pointer-events-none hover:cursor-default hover:bg-transparent;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mx-auto mt-2 mb-2 text-gray-900 transition-all duration-300 ease-linear bg-white shadow-lg cursor-pointer hover:bg-gray-900 dark:bg-gray-800 hover:text-white hover:rounded-xl rounded-3xl;
  }

  .sidebar-logo {
    @apply relative flex items-center p-6 mx-auto transition-all duration-300 ease-linear cursor-pointer dark:bg-gray-800 hover:text-white;
  }

  .sidebar-icon-selected {
    @apply bg-gray-900 dark:bg-gray-800 text-white;
  }
  .sidebar-logo-selected {
    @apply dark:bg-gray-800 text-white;
  }

  .sidebar-tooltip {
    @apply absolute p-2 m-2 text-xs font-bold text-gray-500 transition-all duration-100 origin-left scale-0 bg-white border border-gray-300 rounded-md shadow-md dark:text-white dark:bg-gray-900 dark:border-white left-14;
  }

  .sidebar-hr {
    @apply mx-2 bg-gray-200 border border-gray-200 rounded-full dark:bg-gray-800 dark:border-gray-800;
  }
  .top-navigation {
    @apply flex flex-row items-center justify-between mxl:justify-end w-full px-5 lg:pl-8 lg:pr-5 py-3 m-0 z-30 bg-[#f7f7fe] border-b border-gray-p-350;
  }

  .top-navigation-icon {
    @apply text-gray-500 transition duration-300 ease-in-out cursor-pointer hover:text-pink-400;
  }

  .top-navigation-icon:first {
    @apply ml-auto mr-4;
  }

  .title-hashtag {
    @apply my-auto ml-2 text-lg font-semibold tracking-wider text-gray-500;
  }

  .title-text {
    @apply my-auto ml-2 mr-auto text-xl font-semibold tracking-wider text-gray-500 transition duration-300 ease-in-out text-opacity-80;
  }

  .search {
    @apply flex items-center justify-start w-2/4 md:w-56 gap-0.5 px-2 mr-0 text-sm text-gray-500 placeholder:text-[#A2A2A2] transition duration-300 ease-in-out bg-white rounded-md border border-gray-o-300 h-9 md:h-9 focus-within:shadow-input-ring;
  }

  .search-input {
    @apply w-full pl-1 text-gray-o-450 placeholder-gray-o-450 bg-transparent rounded outline-none;
  }

  .content-container {
    @apply flex flex-col w-full h-full m-0 ml-10 overflow-hidden bg-white dark:bg-gray-700;
  }

  .content-list {
    @apply flex flex-col items-center w-full h-full px-0 pb-12 mx-auto mt-0 ml-0;
  }

  .post {
    @apply flex flex-row items-center w-full px-8 py-4 m-0 cursor-pointer justify-evenly;
  }

  .post-selected {
    @apply bg-green-400 shadow-md dark:bg-gray-900;
  }

  .post-content {
    @apply flex flex-col justify-start w-4/5 ml-auto;
  }

  .post-text {
    @apply mr-auto text-lg text-left text-gray-800 whitespace-normal dark:text-white;
  }

  .post-owner {
    @apply mr-2 font-semibold text-left text-gray-800 cursor-pointer dark:text-white;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center w-12 m-0 mb-auto ml-auto;
  }

  .avatar {
    @apply flex-none object-cover w-12 h-full mx-0 mt-0 mb-auto bg-gray-100 rounded-full shadow-md cursor-pointer;
  }

  .timestamp {
    @apply ml-2 text-xs font-semibold text-left text-gray-500 dark:text-gray-600;
  }

  .bottom-bar {
    @apply fixed flex flex-row items-center justify-between h-12 px-2 bg-gray-400 rounded-lg shadow-lg left-88 right-8 bottom-2 dark:bg-gray-600;
  }

  .bottom-bar-input {
    @apply w-full ml-0 mr-auto font-semibold text-gray-500 placeholder-gray-500 bg-transparent outline-none dark:text-gray-400 cursor-text;
  }

  .channel-bar {
    @apply h-auto m-0 ml-16 overflow-hidden bg-gray-200 w-80 dark:bg-gray-800;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center h-16 p-0 m-0;
  }

  .channel-block-text {
    @apply my-auto ml-4 mr-auto text-lg font-bold tracking-wider text-gray-600 align-middle dark:text-gray-400;
  }

  .dropdown {
    @apply w-full px-2 pb-2 m-0 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center mx-0 text-gray-500 cursor-pointer justify-evenly;
  }

  .dropdown-header-text {
    @apply text-lg font-semibold text-gray-500 cursor-default text-opacity-90;
  }

  .dropdown-header-text-selected {
    @apply text-lg font-bold text-blue-500 text-opacity-90;
  }

  .dropdown-selection {
    @apply flex flex-row items-center mt-1 ml-2 mr-auto transition duration-300 ease-in-out cursor-pointer justify-evenly;
  }

  .dropdown-selection-text {
    @apply mr-auto font-semibold tracking-wide text-gray-500 transition duration-300 ease-in-out cursor-pointer hover:text-pink-500 dark:hover:text-gray-500;
  }

  label {
    @apply font-medium text-black-b-300 mb-1 block;
  }

  input, select {
    @apply border border-gray-p-350 rounded-md w-full flex items-center px-3 py-1 h-9 placeholder:text-gray-p-450 focus-visible:outline-none focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }
  textarea {
    @apply border border-gray-o-400 rounded-lg w-full p-3 placeholder:text-gray-o-450 focus-visible:outline-none focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  }
  .paginationMain {
    @apply bottom-0 w-full text-sm flex justify-between items-baseline flex-wrap;
  }
  .paginationMain select {
    @apply flex flex-wrap border border-gray-o-350 rounded-full bg-white h-8 leading-4 items-center p-2;
  }
  .paginationMain li {
    @apply mx-0.5 h-6 w-6 flex justify-center items-center rounded-full text-gray-o-350 border border-gray-o-350 hover:border-gray-o-370;
  }
  .paginationBtns a {
    @apply flex justify-center items-center px-2 leading-none;
  }
  .paginationBtns {
    @apply flex flex-wrap justify-center gap-1;
  }
  .previous {
    @apply rounded-full mr-1;
  }

  li.previous,
  li.next {
    @apply text-xl border-primary-o-370 text-primary-o-370;
  }
  li.previous.disabled,
  li.next.disabled {
    @apply opacity-30;
  }
  li.previous.disabled a,
  li.next.disabled a {
    @apply cursor-not-allowed;
  }
  .next {
    @apply ml-1;
  }
  .activePage {
    @apply bg-primary-o-370;
  }
  .sidebarItem-selected {
    color: #fff;
  }
  .sidebarItem-selected svg path {
    fill: #fff;
  }
  .sidebarItem-selected:before {
    content: "";
    width: 4px;
    height: 100%;
    border-radius: 0 3px 3px 0;
    background: #fff;
    position: absolute;
    top: 0;
    left: -0.75rem;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
    border-radius: 50%;
  }

  .checkmark + label {
    margin-bottom: 0;
    font-weight: normal;
    line-height: normal;
    cursor: pointer;
  }

  input[type="radio"]:checked ~ .checkmark {
    background-color: #2e94ea;
  } 

  .paginationMain {
    bottom: 0;
    width: 100%;
    /* margin-top: 10px; */
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 14px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 240px);
    padding: 20px;
    border-top: 1px solid #eaeaea;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 800ms;
  }
  .w-18 + .rightSideBar .paginationMain {
    width: calc(100% - 68px);
  }
  .paginationMainCustom {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    z-index: 2;
  }
  .paginationMain select {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    background: #f7f7fe;
    color: #21263c;
    height: 36px;
    padding: 8px 12px;
  }
  .paginationMain select:focus {
    border: 2px solid #1f75ff49;
  }
  .paginationMain li {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #a2a2a2;
    border: 1px solid #f7f7fe;
    background: #f7f7fe;
    font-size: 14px;
  }
  .paginationMain li:hover {
    background-color: rgb(242 251 251);
  }
  .paginationBtns a {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .paginationMain li.activePage {
    background-color: #2e94ea;
    color: #fff;
    border: none;
    display: flex;
    border-radius: 6px;
    justify-content: center;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
  }

  input[type="radio"]:checked ~ .checkmark:after {
    display: block;
  }

  .slideIn {
    animation: slideIn 0.3s forwards;
  }
  .slideOut {
    animation: slideOut 0.3s forwards;
  }
  .fadeIn {
    animation: fadeIn 0.3s forwards;
  }
  .fadeOut {
    animation: fadeOut 0.3s forwards;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  ::-webkit-scrollbar {
    background-color: rgb(253, 253, 253);
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    /* @apply bg-gray-500 dark:bg-green-400; */
    background-color: rgb(147, 147, 147);
    border-radius: 2px;
  }
  .cancelSwal {
    background-color: white !important;
    border: 1px black solid !important;
    color: black !important;
  }

  ::-webkit-scrollbar {
    height: 6px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }

  .menu-btn .bar {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0px;
    border-radius: 120px;
    transform: translate(0%, -50%);
    background-color: #a2a2a2;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 6px);
  }
  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 6px);
    width: 50%;
  }
  .menu-btn:hover .bar:nth-of-type(3) {
    width: 100%;
  }
  .menu-btn .bar:nth-of-type(3).active {
    left: 0;
    right: auto;
  }

  @media (min-width: 768px) {
    .main-table-wrap {
      border-top: 1px solid #eaecf0;
    }
  }
}

/* .react-select__control {
  border-radius: 8px !important;
  border-color: #cacaca !important;
  height: 40px !important;
}
.react-select__placeholder{
  color: #b8b8b8 !important;
}
.react-select__indicator-separator {
  display: none !important;
}
.react-select__input-container input {
  height: auto !important;
  --tw-ring-shadow: none;
} */

.selectDropdown input {
  height: 34.5px;
  background: transparent;
}
/* Vertical scrollbar */
.menuwrap::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}
.menuwrap::-webkit-scrollbar-track {
  background: transparent;
}
.menuwrap::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 10px;
}
.menuwrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}
